extends base


block content 
    form(method="POST")
        input(name="name", type="text", required) 
        input(email="email", type="email", required) 
        input(username="username", type="text", required) 
        input(password="password", type="password", required) 
        input(location="location", type="text", required)
        input(type="submit", value="Join")