extends ../base

block content 
    fomr(method="post")
        input(placeholder="Old Password")
        input(placeholder="New Password")
        input(placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")
